<nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Library app  </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
        <ul  class="nav navbar-nav navbar-utility">

            <li class="dropdown">
                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                    <span class="pficon">{{fa-icon 'user'}}</span>
                    <span class="dropdown-title">Admin</span>
                    <span class="pficon">{{fa-icon 'caret-down'}}</span>
                </button>
                <ul class="dropdown-menu">
                    {{#link-to 'admin.subscribers' tagName="li"}}
                    <a href="">Subscribers</a>{{/link-to}}
                    {{#link-to 'admin.messages' tagName="li"}}
                    <a href="">Messages</a>{{/link-to}}
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">

            {{#link-to "index" activeClass="active" tagName="li"}}
            <a href="">Home</a>
            {{/link-to}} 
            {{#link-to "readers" activeClass="active" tagName="li"}}
            <a href="">Readers</a>
            {{/link-to}}
            {{#link-to "about" activeClass="active" tagName="li"}}
            <a href="">About</a>
            {{/link-to}} 
            {{#link-to "contact" activeClass="active" tagName="li"}}
            <a href="">Contact</a>
            {{/link-to}}
        </ul>
    </div>
</nav>