<div class="col-xs-12 col-sm-6">
    <div class="card-pf card-pf-view ">
        <div class="card-pf-body">
            <div class="card-pf-top-element">
                <span class='card-pf-icon-circle'>
                    {{fa-icon icon}}
                </span>
            </div>
            <h2 class="card-pf-title text-center">
                {{title}}
            </h2>
            <h3 class="card-pf-info text-center">{{if number number '...'}}</h3>
        </div>
    </div>
</div>