<div class="card-pf card-pf-view card-pf-view-xs">
    <div class="card-pf-header text-center">
        <h1>Borrow book</h1>
    </div>
    {{book-rotation book=book readers=readers buttonLabel=buttonLabel action='borrowBook' }}
</div>