<div class="card-pf card-pf-view card-pf-view-xs">
    <div class="card-pf-header text-center">
        <h1>Return book</h1>
    </div>
    {{book-rotation book=book buttonLabel=buttonLabel action='returnBook' }}
</div>