<div class="card-pf card-pf-view card-pf-view-xs">
    <div class="card-pf-header ">
        <h1 >
            Statistics
        </h1>
    </div>
</div>
<div class="row row-cards-pf">
       {{number-box icon='book-reader' title="Readers" number=readers.length }}
       {{number-box icon='book' title="Books" number=books.length}}
       {{!-- {{number-box title="Readers" number=readers.length}} --}}
</div>