<div class="card-pf card-pf-view card-pf-view-xs">
    <div class="card-pf-header text-center">
        <h1>{{title}}</h1>
    </div>

    <div class="card-pf-body ">
        {{reader-item-form model=model buttonLabel=buttonLabel action='saveReader'}}
    </div>
</div>