<div class="card-pf card-pf-view card-pf-view-xs">
    <div class="card-pf-header ">
        <h1 class="row">
            <span class="col-xs-6">Readers list</span>
            <span class="col-xs-6 text-right">
                {{#link-to "readers.new" activeClass="active" class='btn btn-success'}} {{fa-icon 'plus'}} new reader {{/link-to}}
            </span>
        </h1>
    </div>
</div>
<div class="row row-cards-pf">
    {{#each model as |reader|}} 
        {{#reader-item reader=reader}} {{/reader-item}} 
    {{/each}}
</div>